<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../assets/css/manage.css" />
    {{{_sections.css}}}

    {{{_sections.title}}}
  </head>
  <body>
    <div class="grid-container">
      <div class="menu-icon">
        <i class="fas fa-bars header__menu"></i>
      </div>

      {{> header}}

      <aside class="sidenav">
        {{{_sections.aside}}}
      </aside>

      <main class="main">
        {{{_sections.main}}}
      </main>
      

      {{> footer}}
    </div>
    

    {{{_sections.js}}}
  </body>
</html>
